html body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    scroll-behavior: smooth;
}
.dropbtn{
    display: none;
}
.main{
    flex-grow: 1;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.top{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 82% 0% 0% 94%;
    width: 50px;
    height: 50px;
    z-index: 11;
    background-color: #202846;
    border-radius: 50%;
}

.top__img{
    animation: fly 1s infinite .1s;
    transition: all 1s;
}
@keyframes fly {
    0%{
        transform: translateY(50%);
    }
    100%{
        opacity: 0;
        transform: translateY(-50%);
    }
}


.container {
    max-width: 1485px;
    margin: 0 auto;
    --bs-gutter-x: 0;
}

.active{
    background-color: #444765;
    border-radius: 9px;
    transform: scale(1.1);
    transition: background-color, transform .2s;
}

.active:hover{
    background-color: #444765;
    transform: scale(1.1);
    transition: transform .2s;
}
/* HEADER */
.header {
    background-color: #202846;
    height: 90px;
    width: 100%;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1721px;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    background-color: #202846;
    padding: 10px 0;
    width:178px; height:70px;
}

.nav__list {
    display: flex;
    gap: 23px;
    padding: 17px 0;
}

.nav__list-item {
    display: flex;
    text-transform: uppercase;
    color: #fff;
    align-items: center;
}

.nav__list-input{
    background: #000000;
    opacity: 0.9;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    position: fixed;
    inset: 77% 0px 0px 94%;
    width: 60px;
    height: 40px;
    z-index: 20;
    animation: NavInputrevers 1.5s ease-in-out reverse ;
}

.nav__list-input::placeholder{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    background: no-repeat url(../img/search.svg);
    background-size: 23px;
    background-position: 100%;
    color: transparent;
}

.nav__list-input:focus{
    background: linear-gradient(45deg, #BDBDC6, #202846);
    box-shadow: 0 0 20px #90A4AE, 10px 10px 20px #8484b5;
    border: 1px solid #CBCBCB;
    fill: #000000;
    animation: NavInput 1.5s ease-in-out both ;
    transition: all .2s;
}

@keyframes NavInput {
    0%{
        transform: translateX(0%);
        transform: rotateX(0%);
        width: 60px;
    }
    100%{
        transform: translateX(-85%);
        transform: rotateX(100%);
        width: 250px;
    }
}

@keyframes NavInputrevers {
    0%{
        transform: translateX(0%);
        transform:rotateX(0%);
        width: 60px;
    }
    100%{
        transform: translateX(-85%);
        transform: rotateX(100%);
        width: 250px;
    }
}

.nav__list-link {
    position: relative;
    color: #fff;
    width: 147px;
    padding: 10px 0;
    text-align: center;
    border-radius: 9px;
}

.nav__list-link::before {
    content: '';
    position: absolute;
    left: 0; bottom: -5px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background: linear-gradient(15deg, #353C57, #90A4AE);
    transition: all .5s;
}
.nav__list-link:hover{
    background: linear-gradient(15deg, #353C57, #90A4AE);
    transition: all .3s;
}
.nav__list-link:hover::before {
    transform: scaleX(1)
}

.nav__line {
    display: inline;
    border-left: 2px solid #fff;
    background-color: #fff;
}

/* FOOTER */
.footer {
    background-color: #202846;
}

.footer_title {
    color: #fff;
    font-style: italic;
    font-size: 36px;
    line-height: normal;
    font-weight: 400;
}

.footer__text {
    color: #fff;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-item:active{
    background-color: #202846;
}

.btn_filter{
    display: block;
    background-color: #353C57;
    margin: 0 auto;
}

.btn_filter{
    border: 1px solid #202846;
    width: 250px;
    transition: all .4s;
}

.btn_filter:hover{
    background-color: #90A4AE;
    box-shadow: 0 0 20px #F2EEEE;
    transition: all .4s;
}
/* GALERY */
.galery{
    padding: 53px 0 49px;
}
.galary__holiday{
    display: flex;
    flex-direction: column;
    height: 369px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-bottom: 53px;
    background: no-repeat url(../img/images1.jpg);
    background-size: cover;
    background-size: 100%;
}

.galery__title{
    font-size: 75px;
    font-weight: 700;
    }

.galery__text{
    font-size: 50px;
    font-weight: 700;
}

.galery__view{
    width: 100%;
    height: 604px;
    margin-bottom: 53px;
    background: no-repeat url(../img/images2.jpg);
    background-size: 100%;
}

.galery__view-content{
    position: relative;
    width: 1164px;
    height: 167px;
    top: 72.5%;
    background: rgba(255,255,255, 0.80);
}

.galery__content-link{
    display: block;
    position: relative;
    width: 245px;
    padding: 17px 0;
    background-color: #202846;
    font-size: 24px;
    color: #fff;
    text-align: center;
    align-items: start;
    border-radius: 30px;
    top: -30px;
    left: 78.8%;
    transition: all .4s;
}
.galery__content-link:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg, #90A4AE, #444765, #202846 );
    color: #F2EEEE;
    transition: all .4s;
}
.galery__content-img{
    display: inline-block;
    justify-content: center;
    margin-left: 11px;
}

.content__text{
    display: block;
    width: 1112px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: italic;
    margin: 0 auto;
}
.galery__active{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(193, 193, 195, 0.90);
    gap: 18px;
    height: 412px;
    padding: 31px 70px 31px;
}

.galery__active-img{
    height: 349px;
}

.bacgr{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 632px;
    height: 349px;
}

.galery__active-text{
    color: #202846;
    width: 500px;
    margin: 0 auto;
    font-size: 26px;
    text-align: center;
}

/* FORM */
.form{
    padding-bottom: 50px;
}
.call{
    position: relative;
    width: 518px;
    height: 481px;
    margin: 0 auto;
    border: 3px solid rgba(170, 170, 170, 0.20);
    background: #F2EEEE;
    align-items: center;
    padding: 21px 0 36px;
}
.call__content{
    width: 408px;
    margin: 0 auto;
}
.call__title{
    font-size: 36px;
    text-align: center;
    margin-bottom: 31px;
}

.call__name, .call__tel{
    font-size: 30px;
    margin-bottom: 16px;
}

.call__input{
    padding-left: 20px;
    width: 408px;
    height: 62px;
    border: 2px solid #90A4AE;
}
.text{
    margin-bottom: 16px;
}
.call__input::placeholder{
    color: #90A4AE;
    font-size: 20px;
    width: 300px;
}

.call__input:focus::-webkit-input-placeholder{
    color: transparent;
}

.call__btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 104px;
    background-color: #444765;
    font-size: 36px;
    color: #fff;
}

.call__btn::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 0;
    height: 104px;
    background: rgba(255, 255, 255, 0.32);
    transition: all 2s ease;
}
.call__btn:hover::before{
    width: 100%;
}

/* ABOUT */
.about{
    margin-bottom: 23px;
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C6C6DC;
    width: 100%;
    height: 140px;
    margin-bottom: 23px;
}

.about-us__title{
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
}

.about_content-img{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about_content-title{
    font-size: 48px;
    font-weight: 700;
}

.about_content-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    width: 1099px;
}
.places{
    margin-bottom: 28px;
}
.places__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 380px;
    padding: 20px 74px;
    background-color: #CBCBCB;
    color: #202846;
    font-size: 30px;
    font-weight: normal;
}

.text1,
.text2 {
    margin-bottom: 25px;
}

.modal-title{
    font-size: 40px !important;
    text-align: center;
}


.re__header{
    width: 100%;
    height: 140px;
    background-color: #C6C6DC;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reg__title{
    font-size: 48px;
    font-style: italic;
    font-weight: normal;
    color: #444765;
}

.reg__form{
    /* background: no-repeat url(../img/images5.jpg);
    background-size: cover; */
    background: linear-gradient(66deg, #90A4AE, #444765 );
    width: 500px;
    height: 570px;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
}

.reg__form-item{
    margin-bottom: 30px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
}

.madal__text{
    font-size: 30px;
    color: #D7D7DD;
}


.reg__form-text{
    font-size: 25px;
    width: 100px;
    color: #fff;
    margin-bottom: 10px;
}

.reg__form-input{
    width: 350px;
    height: 35px;
    padding-left: 30px;
    border-radius: 32px;
    border: 1px solid #202846;
}
.reg__form-title{
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

.reg__form-input::placeholder{
    font-size: 16px;
    color: #444765;
    width: 150px;
}

.reg__form-input:focus::-webkit-input-placeholder{
    color: transparent;
    border-color: red;
}

.reg__form-input:focus{
    border: 1px solid #90A4AE;
    outline: #f40f0f;
    box-shadow: 0 0 20px #F2EEEE;
}
.reg__form-btn{
    display: block;
    margin: 0 auto;
    font-size: 26px;
    width: 200px;
    padding: 15px 13px;
    border: 1px solid #202846;
    background-color: #444765;
    color: #fff;
    margin-top: 50px;
    transition: all .4s;
}

.reg__form-btn:hover{
    background-color: #c6c6dcbb;
    box-shadow: 0 0 20px #C6C6DC;
    transform: scale(1.1);
    transition: all .3s;
}


/* TOBOOK */
.tobook{
    padding: 0 0 51px;
}
.to__book-item{
    display: flex;
    height: 300px;
    margin-bottom: 36px;
    padding: 30px 87px 30px 103px;
    background-color: #BDBDC6;
    position: relative;
}
.to__book-img{
    width: 486px;
    height: 239px;
    margin: auto 0;
}
.to__book-content{
    margin-left: 102px;
}

.to__book-title{
    font-size: 36px;
    color: #353C57;
    font-style: italic;
    font-weight: 700;
    border-bottom: 4px solid #fff;
    margin-bottom: 12px;
}
.to__book-backg{
    display: flex;
    background-color: #D7D7DD;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 712px;
    height: 239px;
}

.to__book-text{
    padding: 0 50px;
}

.to__book-link{
    position: absolute;
    inset: 80% 0 0 90%;
    display: flex;
    border-radius: 30px;
    color: #fff;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background: linear-gradient(45deg, #90A4AE, #444765, #202846 );
    transition: all .4s;
}

.to__book-link:hover{
    transform: scale(1.1);
    background: #F2EEEE;
    color: #202846;
    transition: all .4s;
}

/* CONTACNS */
.contacts{
    padding-bottom: 64px;
}
.contacts__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}
.contacts__list-item{
    width: 280px;
}
.contacts__list-title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 11px;
    border-bottom: 3px solid #202846;
}

.contacts__list-text{
    font-size: 30px;
}

.validator{
    display: block;
    margin: 20px auto;

}

/* BOOTSTRAP */
.com{
    margin: 100px 0 50px;
}
.com__title{
    font-size: 30px;
    color: #202846;
    margin-bottom: 20px;
}
.btn_com{
    display: block;
    width: 200px;
    margin: 0 auto;
    transition: all .4s;
}
#carouselExampleCaptions{
    width: 1000px;
}
.carousel-item{
    height: 300px;
}
.btn_com:hover{
    background-color: #202846;
    box-shadow: 0 0 15px #000000;
    transition: all .4s;
}

.bootstrap_content{
    margin: 50px 0;
}

.accordian__style:focus{
    background-color: #7e85d1;
    color: #fff;
    box-shadow: 0 0 10px #353C57;
}

.coments{
    margin: 30px 0;
}
.coments__title{
    margin-bottom: 20px;
}
.coments__list{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.coments__list-item{
    width: 250px;
    height: auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.card-img-top{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

@media screen and (max-width:1400px) {
    .nav__logo{
        width: 150px;
    }
    .nav__list{
        gap: 15px;
        margin-right: 30px;
    }
    .nav__list-link{
        width: 120px;
        padding: 10px 0;
    }
    .com{
        margin-top: 0;
    }
    .dropbtn{
        display: none;
    }
    .galary__holiday{
        height: 281px;
    }
    .galery__title{
        font-size: 70px;
        background-size: 100%;
    }
    .galery__text{
        font-size: 40px;
    }
    .galery__view{
        height: 480px;
    }
    .galery__view-content{
        top: 66%;
    }
    .galery__active{
        gap:8px;
    }
    .to__book-backg{
        width: 590px;
    }
    .to__book-link{
        inset: 8% 0 0 85%
    }
    .to__book-item{
        height: 344px;
    }
    .contacts__list{
        gap: 40px;
        margin: 0 30px;
    }
    .contacts__list-item {
        width: 314px;
    }
}

@media screen and (max-width:1240px){
    .nav__logo{
        width: 150px;
    }
    .nav__list{
        gap: 5px;
        margin-right: 30px;
    }
    .nav__list-link{
        width: 134px;
        padding: 10px 0;
    }
}

@media screen and (max-width:1124px){
    .header{
        height: 90px;
        height: 80px;
        position: fixed;
        z-index: 5;
    }
    .nav{
        margin: 0 20px;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
    }
    .nav__list{
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .nav__list-link{
        width: 130px;
        padding: 10px 0;
    }
    .dropdown_nav{
        float: left;
        overflow: hidden;
    }
    .dropdown_nav .dropbtn{
        display: block;
        border: none;
        padding: 10px 0;
    }
    .dropbtn{
        max-width: 160px;
        background-color: #353C57;
        color: #fff;
        font-size: 20px;
        width: 160px;
        text-align: center;
    }
    .dropbtn:hover{
        transform: scale(1.1);
        background: linear-gradient(34deg, #BDBDC6, #444765);
    }
    .dropdown__content{
        display: none;
        position: absolute;
        width: 160px;
        background-color: #444765;
        z-index: 5;
        transition: all 1s;
    }
     .dropdown_nav:hover .dropdown__content{
        display: block;
    }
    .com{
        margin-top: 0;
    }
    .top{
        inset: 82% 0% 0% 93%;
    }
    .nav__list-input{
        inset: 77% 0px 0px 92%;
    }
    .galary__holiday{
        background-size: 122%;
    }
    .nav__list-link {
        width: 125px;
    }
    .galery__view{
        background-size: 122%;
        margin-bottom: 36px;
    }
    .galery__view-content {
        width: 969px;
        height: 182px;
        top: 63%;
    }
    .galery__content-link{
        left: 72.8%;
    }
    .content__text{
        width: 910px;
    }
    .galary__holiday{
        width: 100%;
        margin-bottom: 36px;
    }
    .galery__active-img{
        width: 500px;
        height: 300px;
    }

    .places__content{
        height: 433px;
    }

    .about_content-text {
        font-size: 26px;
        width: 1024px;
    }
    .bacgr{
        width: 500px;
        height: 300px;
    }
    .to__book-item{
        flex-direction: column;
        height: 606px;
    }
    .to__book-img{
        margin: 0 auto 20px;
    }
    .to__book-backg{
        margin: 0 auto;
    }
    .to__book-link {
        inset: 87% 0 0 78%;
    }
    .contacts__list{
        grid-template-columns: repeat(2, 1fr);
    }

    .reg__form {
        height: 560px;
    }
    .reg__form-btn {
        margin-top: 0;
        font-size: 23px;
    }
}

@media screen and (max-width:864px){
    .com{
        margin-top: 0;
    }
    .header{
        height: 90px;
        height: 80px;
        position: fixed;
        z-index: 5;
    }
    .nav{
        margin: 0 20px;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
    }
    .nav__list{
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .nav__list-link{
        width: 130px;
        padding: 10px 0;
    }
    .dropdown_nav{
        float: left;
        overflow: hidden;
    }
    .dropdown_nav .dropbtn{
        display: block;
        border: none;
        padding: 10px 0;
    }
    .dropbtn{
        max-width: 160px;
        background-color: #353C57;
        color: #fff;
        font-size: 20px;
        width: 160px;
        text-align: center;
    }
    .dropbtn:hover{
        transform: scale(1.1);
        background: linear-gradient(34deg, #BDBDC6, #444765);
    }
    .dropdown__content{
        display: none;
        position: absolute;
        width: 160px;
        background-color: #444765;
        z-index: 5;
        transition: all 1s;
    }
     .dropdown_nav:hover .dropdown__content{
        display: block;
    }
    .top{
        inset: 82% 0% 0% 91%;
    }
    .nav__list-input{
        inset: 77% 0px 0px 90%;
    }
    .galery {
        padding: 33px 0 30px;
    }
    .galary__holiday {
        background-size: 176%;
    }
    .galery__title {
        font-size: 60px;
    }
    .galery__text {
        font-size: 30px;
    }
    .galery__view {
        background-size: 151%;
        margin-bottom: 36px;
    }
    .galery__view-content {
        width: 779px;
        top: 56%;
        height: 215px;
    }
    .galery__content-link{
        width: 212px;
        left: 67.8%;
    }
    .content__text {
        width: 684px;
    }
    .galery__active {
        flex-direction: column;
        gap: 14px;
        height: 448px;
    }
    .galery__active-text {
        width: 476px;
    }
    .places__content{
        height: 509px;
    }
    .about-us {
        height: 106px;
    }
    .about_content-text {
        font-size: 28px;
        width: 805px;
    }
    .re__header {
        height: 106px;
    }
    .tobook {
        padding: 0;
    }
    .to__book-content {
        margin-left: 42px;
    }
    .to__book-backg {
        width: 535px;
        font-size: 20px;
    }
    .to__book-link {
        inset: 49% 0 0 71%;
    }
}

@media screen and (max-width:540px){
    .header {
        height: 80px;
        position: fixed;
        z-index: 5;
    }
    .com{
        margin-top: 100px;
    }
    .nav{
        overflow: hidden;
        align-items: center;
        justify-content: space-around;
    }
    .top{
        inset: 77% 0% 0% 79%
    }
    .dropdown_nav{
        float: left;
        overflow: hidden;
    }
    .dropdown_nav .dropbtn{
        display: block;
        border: none;
        padding: 10px 0;
    }
    .dropbtn{
        max-width: 160px;
        background-color: #353C57;
        color: #fff;
        font-size: 20px;
        width: 160px;
        text-align: center;
    }
    .dropbtn:hover{
        transform: scale(1.1);
        background: linear-gradient(34deg, #BDBDC6, #444765);
    }
    .dropdown__content{
        display: none;
        position: absolute;
        width: 160px;
        background-color: #444765;
        z-index: 5;
        transition: all 1s;
    }
     .dropdown_nav:hover .dropdown__content{
        display: block;
    }
    .small{
        margin-left: 4px;
        margin-top: 2px;
    }
    .nav__list {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .nav__list-link {
        width: 92px;
        font-size: 12px;
    }
    .nav__list-input{
        inset: 86% 0px 0px 77%;
    }
    .nav__logo {
        padding: 3px 0;
        width: 92px;
    }
    .nav__line {
        display: none;
    }
    .footer_title {
        font-size: 19px;
    }
    .call__name, .call__tel {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .galary__holiday {
        background-size: cover;
        width: 100%;
        margin-top: 70px;
    }
    .galery__title {
        font-size: 40px;
    }
    .galery__text {
        font-size: 19px;
        width: 292px;
        text-align: center;
    }
    .galery__view {
        height: 490px;
        margin-bottom: 26px;
    }
    .galery__view-content {
        width: 289px;
        top: 29%;
        height: 326px;
    }
    .content__text {
        width: 288px;
        margin: 0;
        font-size: 20px;
    }
    .galery__content-link {
        width: 209px;
        left: 20.8%;
        top: -5%;
        padding: 9px 0;
    }
    .galery__active{
        padding: 21px 9px 9px 12px;
    }
    .galery__active-img {
        width: 100%;
    }
    .bacgr {
        width: 253px;
        height: 347px;
    }
    .galery__active-text {
        width: 265px;
        font-size: 17px;
    }
    .call {
        width: 296px;
        height: 360px;
        padding: 0;
    }
    .call__content {
        width: 275px;
        margin: 0 auto;
    }
    .call__input {
        width: 245px;
    }
    .call__title {
        font-size: 24px;
        width: 200px;
        margin: 10px auto;
    }
    .call__btn {
        height: 70px;
        font-size: 29px;
    }
    .about-us {
        height: 82px;
        margin-top: 70px;
    }
    .about_content-title {
        font-size: 38px;
    }  
    .about_content-text {
        font-size: 18px;
        width: 307px;
    }
    .about-us__title {
        font-size: 38px;
    }
    .places__content {
        height: 492px;
        font-size: 20px;
        padding: 10px 13px;
    }
    .reg__title {
        font-size: 27px;;
    }
    .to__book-content{
        margin: 0 auto;
    }
    .to__book-item {
        height: 752px;
        padding: 0;
    }
    .to__book-img {
        width: 100%;
    }
    .to__book-title {
        font-size: 26px;
    }
    .to__book-text {
     padding: 0;
    }
    .to__book-backg {
        width: 273px;
        height: 404px;
        padding: 0 18px;
        font-size: 19px;
    }
    .to__book-link {
        inset: 96% 0 0 37%;
        font-size: 20px;
        width: 170px;
        height: 55px;
    }
    .reg__form {
        width: 279px;
        height: 496px;
    }
    .re__header {
        margin-top: 70px;
        height: 90px;
    }
    .reg__form-item {
        margin-bottom: 22px;
    }
    .reg__form-input {
        width: 243px;
    }
    .reg__form-btn {
        font-size: 18px;
        width: 200px;
        padding: 12px 13px;
        margin-top: 0;
    }
    .contacts__list{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 4px;
    }
    .contacts__list-item {
        width: 290px;
    }
    .footer_title{
        font-size: 14px;
    }
    .footer__text{
        font-size: 14px;
    }
    iframe{
        width: 360px;
    }
    .coments__list{
        flex-direction: column;
    }
}
